{% schema %}
{
    "name": {
        "en": "Testing"
    },
    "settings": [
        {
          "type": "checkbox",
          "id": "example",
          "label": "Test1",
          "default": true
        }
    ],
    "presets": [
    {
        "name": "Test",
        "category": "Test2"
    }
  ]
}
{% endschema %}}
<div>
Tesing1222
</div>