{% schema %}
{
  "name": "Slideshow",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    },
    {
        "type": "text",
        "id": "title1",
        "label": "Slideshow1"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Slideshow2"
      }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
   "default": {
    "settings": {
      "title2": "Slideshow22222"
    },
    "blocks": [
      {
        "type": "slide"
      },
      {
        "type": "slide"
      }
    ]
  }
}
{% endschema %}
{% for block in section.blocks %}
    {% case block.type %}
      {% when 'slide' %}
        <div class="slide" {{ block.shopify_attributes }}>
          {{ block.settings.image | image_url: width: 2048 | image_tag }}
        </div>
    {% endcase %}
  {% endfor %}
  {{section.settings.title2}}